{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
  <h2>Profile</h2>
  <h1>{{ user.username }}</h1>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Gender: {{ user.account.gender }}</p>
    <p>Date of Birth: {{ user.account.date_of_birth }}</p>
    <p>Address: {{ user.account.address }}</p>
</div>
{% for purchase in purchases %}
  <div>
    <h3>Purchased Book: {{ purchase.book.title }}</h3>
    <p>Purchase Date: {{ purchase.purchase_date }}</p>
  </div>
{% empty %}
  <p>No purchases found.</p>
{% endfor %}

{% endblock %}
