{% extends "base.html" %}
{% block title %}Book List{% endblock %}
{% block content %}
{% if books %}
{% for book in books %}
{% if book.cover_image %}
<img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="img-fluid rounded shadow-sm mb-3" width="100%" height="auto" />
{% endif %}
{{ book.title }}
{{ book.author }}
{{ book.price }}
{{ book.category.name }}
{{ book.description }}
{{ book.available_copies }}
<form method="post" action="{% url 'buy_book' book.id %}">
    {% csrf_token %}
    <button type="submit">Buy Book</button>
  </form>
  
<br>
{% endfor %}
{% endif %}
{% endblock %}